@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>
    Blaeu.NET is a straightforward .NET (Core) implementation of Leaflet, NetTopologySuite and SQL Server.
    It showcases the ability to create geometric data (such as points, lines or polygons) using a mapping library and store it in a database.
    The source code of this project is publicly available on GitHub.
</p>

<p>
    <h6>List of technologies and services used</h6>
    <ul>
        <li>ASP.NET Core MVC</li>
        <li>Entity Framework Core</li>
        <li>NetTopologySuite</li>
        <li>SQL Server</li>
        <li>JQuery</li>
        <li>Bootstrap</li>
        <li>LeafletJS (with plugins)</li>
        <li>OpenStreetMaps</li>
        <li>Carto</li>
    </ul>
</p>
