@{
    ViewData["Title"] = "Home Page";
}

<!-- import Leaflet CSS and script -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
crossorigin=""/>
<!-- make sure to import script after CSS file -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin=""></script>

<!-- import Leaflet.fullscreen plugin -->
<link rel="stylesheet" href="https://unpkg.com/leaflet.fullscreen@2.2.0/Control.FullScreen.css" />
<script src="https://unpkg.com/leaflet.fullscreen@2.2.0/Control.FullScreen.js"></script>

<!-- import Leaflet.draw plugin -->
<link rel="stylesheet" href="https://unpkg.com/leaflet-draw@1.0.4/dist/leaflet.draw.css" />
<script src="https://unpkg.com/leaflet-draw@1.0.4/dist/leaflet.draw.js"></script>

<link rel="stylesheet" href="~/css/map.css" />

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div id="map-container">
    <div class="alert-placeholder" role="alert"></div>
    <div id="map">
        <!-- leaflet map -->
    </div>
</div>

<script src="~/js/map.js" asp-append-version="true" defer></script> 